#root {
  width: 100%;
  max-width: 1280px;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.listStarShips{
  width: 60%;
  list-style: none;
  vertical-align: top;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.shipContainer{
  width: 100%;
  text-align: center;
}
li{
  width: 100%;
  height: auto;
  border: 1px solid black;
  font-size: large;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.detailsList{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 4.5rem;
}
.detailsCenter{
  width: 90%;
}
.detailsLeft, .detailsRight{
  width: 40%;
  display: flex;
  flex-direction: column;
}
.buttonPageContent{
  height: 3rem;
  display: flex;
  justify-content: space-around;
  font-size: x-large;
}
.buttonPageContent p{
  margin: 0;
  display: flex;
  align-items: center;
}
.buttonPage{
  width: 30%;
  height: 100%;
  padding: 0;
  border: 1px solid black;
}
